{% extends 'base.html.twig' %}

{% block title %}acceuil admin {% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="card-title">acceuil adminstrateur</h1>

    </div>
  </div>
</div>
     



<div class="container">
  <div class="row mt-4">
    <div class="col">
      <div class="container"><p class="card-text"><a href="{{path("app_admincategorie")}}" class="btn btn-dark">gérer les  catégories</a></div>

    </div>
  </div>
</div>



<div class="container">
  <div class="row mt-4">
    <div class="col">
      <div class="container"><p class="card-text"><a href="{{path("app_adminplat")}}" class="btn btn-dark">gerer les plats</a></div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row mt-4">
    <div class="col">
      <div class="container"><p class="card-text"><a href="{{path("app_adminuser")}}" class="btn btn-dark">gerer les utilisateur</a></div>

    </div>
  </div>
</div>


<div class="container">
  <div class="row mt-4">
    <div class="col">
      <div class="container"><p class="card-text"><a href="{{path('app_admincommande')}}" class="btn btn-dark">gerer les commandes</a></div>

    </div>
  </div>
</div>

    </p>
    </div>
  </div>

{% endblock %}
