{% extends "base.html.twig" %}

{% block body %}


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">libelle</th>
      <th scope="col">image</th>
      <th scope="col">modifier</th>
      <th scope="col">supprimer</th>
    
    </tr>
  </thead>
  <tbody>
    {% for plat in plats %}
        
   
<tr class="table-light">
    <th scope="row">{{plat.id}}</th>
    <td>{{plat.libelle}}</td>
    <td>{{plat.image}}</td>
    <td><a href="" class="btn btn-dark">modifier</a></td>
    <td><a href="" class="btn btn-danger">supprimer</a></td>

  </tr>
   {% endfor %}
</tbody>
</table>


{% endblock %}