{% extends 'base.html.twig' %}

{% block title %}Hello StripeserviceController!{% endblock %}

{% block body %}
<form action="">
    <label for=""></label>
    <input type="text">
    <button> </button>
</form>
{% endblock %}
